@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.Invitation.TypeOfUserModel
@{
}

<a asp-page="/Manage/Homepage" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-fieldset__heading">
                Which account do you want to create?
            </span>
        </legend>
        <form method="post" novalidate data-validate='my-form-validation'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="RoleSelection" class="text-danger"></span>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        @if(Model.AvailableRoles.Any(x => x.Name == "DfEAdmin"))
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="RoleSelection" class="govuk-radios__input" type="radio" value="@Model.AvailableRoles.First(x => x.Name == "DfEAdmin").Name" checked="@(string.IsNullOrEmpty(Model.RoleSelection) && Model.RoleSelection == "DfEAdmin")"/>
                                <label class="govuk-label govuk-radios__label" for="userType">
                                    Department for Education administrator
                                </label>
                                
                            </div>
                        }

                        @if(Model.AvailableRoles.Any(x => x.Name == "LAAdmin"))
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="RoleSelection" class="govuk-radios__input" type="radio" value="@Model.AvailableRoles.First(x => x.Name == "LAAdmin").Name" checked="@(string.IsNullOrEmpty(Model.RoleSelection) && Model.RoleSelection == "LAAdmin")" />
                                <label class="govuk-label govuk-radios__label" for="userType">
                                    Local authority administrator
                                </label>
                            </div>
                        }

                        @if(Model.AvailableRoles.Any(x => x.Name == "VCSAdmin"))
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="RoleSelection" class="govuk-radios__input" type="radio" value="@Model.AvailableRoles.First(x => x.Name == "VCSAdmin").Name" checked="@(string.IsNullOrEmpty(Model.RoleSelection) && Model.RoleSelection == "VCSAdmin")" />
                                <label class="govuk-label govuk-radios__label" for="userType">
                                    Voluntary community organisation administrator
                                </label>
                            </div>
                        }

                        @if(Model.AvailableRoles.Any(x => x.Name == "Professional"))
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="RoleSelection" class="govuk-radios__input" type="radio" value="@Model.AvailableRoles.First(x => x.Name == "Professional").Name" checked="@(string.IsNullOrEmpty(Model.RoleSelection) && Model.RoleSelection == "Professional")" />
                                <label class="govuk-label govuk-radios__label" for="userType">
                                    Proffesional
                                </label>
                            </div>
                        }
                    </div>

                </fieldset>
            </div>

            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </fieldset>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}