@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.Manage.ViewUsersModel
@{
}

<a asp-page="/Manage/Homepage" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-column-one-third">
        <div class="filters-component panel-component__content" id="filters-component" data-controller="filters">
            <div class="filters-component__heading">
                <h2 class="govuk-heading-m">Filter user accounts</h2>
            </div>
            <form method="post">
            <div class="filters-component__groups">
                <div class="filters-component__groups__group">
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><span class="govuk-fieldset__heading">Account type</span></legend>
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="DfEAdmin" name="DfEAdmin" type="checkbox" value="DfEAdmin" checked="@(!string.IsNullOrEmpty(Model.DfEAdmin))">
                                        <label class="govuk-label govuk-checkboxes__label" for="user">
                                            Department for Education administrator
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="LAAdmin" name="LAAdmin" type="checkbox" value="LAAdmin" checked="@(!string.IsNullOrEmpty(Model.LAAdmin))">
                                        <label class="govuk-label govuk-checkboxes__label" for="user-2">
                                            Local authority administrator
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="VCSAdmin" name="VCSAdmin" type="checkbox" value="VCSAdmin" checked="@(!string.IsNullOrEmpty(Model.VCSAdmin))">
                                        <label class="govuk-label govuk-checkboxes__label" for="user-3">
                                            Voluntary community organisation administrator
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="Professional" name="Professional" type="checkbox" value="Professional" checked="@(!string.IsNullOrEmpty(Model.Professional))">
                                        <label class="govuk-label govuk-checkboxes__label" for="user-4">
                                            Professional
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                Apply filters
            </button>
            </form>
            <p><a asp-page-handler="ClearFilters">Clear filters</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table" data-module="moj-sortable-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">

                    <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width: 30%">Name</th>

                    <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 20%">Works for</th>

                    <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 30%">Account type</th>

                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 20%"></th>

                </tr>
            </thead>

            <tbody class="govuk-table__body">

                @foreach (var person in @Model.Users.Items)
                {
                    <tr class="govuk-table__row">

                        <td class="govuk-table__cell">@person.UserName</td>

                        <td class="govuk-table__cell">@person.OrganisationName</td>

                        <td class="govuk-table__cell">@person.FullRoleNames</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a class="govuk-!-margin-right-1" asp-page="/Manage/ViewUser" asp-route-emailAddress="@person.Email">View</a>
                            @*<a class="govuk-!-margin-right-1" asp-page-handler="ResetPassword" asp-route-id="@person.Email">Reset Password</a>
                            <a class="govuk-!-margin-right-0" asp-page-handler="DeleteUser" asp-route-id="@person.Id">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav class="govuk-pagination" role="navigation" aria-label="results">
            @if (Model.PageNumber > 1)
            {
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" asp-page="./ViewUsers" asp-route-pageNumber="@(Model.PageNumber - 1)" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">Previous</span>
                    </a>
                </div>
            }
            <ul class="govuk-pagination__list">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    string pageLable = $"Page {i}";
                    if (Model.PageNumber == i)
                    {
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link" asp-page="./ViewUsers" asp-route-pageNumber="@i" aria-label="@pageLable" aria-current="page">
                                @i
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" asp-page="./ViewUsers" asp-route-pageNumber="@i" aria-label="@pageLable">
                                @i
                            </a>
                        </li>
                    }

                }

            </ul>
            @if (Model.PageNumber < Model.TotalPages)
            {
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" asp-page="./ViewUsers" asp-route-pageNumber="@(Model.PageNumber + 1)" rel="next">
                        <span class="govuk-pagination__link-title">Next</span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
            }
        </nav>
    </div>
</main>
